
:root
{
  /* Status */
    --status-online: #a6d189;
    --status-idle: #e5c890;
    --status-dnd: #ea999c;
    --status-offline: #737994;
    --status-danger: #e78284;

  /* Backgrounds */
  --background-primary: #303446;
  --background-secondary: #292c3c;
  --background-secondary-alt: #232634;
  --background-secondary-lighter: hsl(
    from #292c3c h s calc(l + 5)
  ); 
  
  /* Main content bg */
  --background-tertiary: #414559;
  --background-textarea: #414559;
  --background-header-primary: #292c3c;
  --background-header-primary-hover: #414559;
  --background-header-secondary: #232634;

  /* Background modifiers */
  --background-modifier-hover: #414559;
  --background-modifier-selected: #51576d;
  --background-modifier-accent: #626880;
  --background-modifier-accent-focus: #51576d;

  /* Brand */
  --brand-primary: #ca9ee6;
  --brand-primary-light: hsl(from #ca9ee6 h s calc(l + 8));
  --brand-primary-fill: #303446;
  --brand-secondary: hsl(from #ca9ee6 h s calc(l - 10));

  /* Text */
  --text-primary: #c6d0f5;
  --text-secondary: #b5bfe2;
  --text-primary-muted: #a5adce;
  --text-tertiary: #949cbb;
  --text-tertiary-muted: #838ba7;
  --text-tertiary-secondary: #949cbb;
  --text-chat: #c6d0f5;
  --text-chat-muted: #a5adce;
  --text-on-brand-primary: #303446;
  --text-link: #8caaee;

  /* Borders */
  --border-color: #51576d;
  --border-color-hover: #626880;
  --border-color-focus: #ca9ee6;

  /* Misc */
  --accent-purple: #ca9ee6;
  --bg-code: #292c3c;
  --guild-list-foreground: #ca9ee6;

  /* Alerts */
  --alert-note-color: #8caaee;
  --alert-important-color: #ca9ee6;
  --alert-tip-color: #8caaee;
  --alert-warning-color: #e5c890;
  --alert-caution-color: #e78284;

  /* Markup */
  --markup-mention-fill: #51576d;
  --markup-interactive-hover-fill: #626880;

  /* Buttons – primary */
  --button-primary-fill:#ca9ee6;
  --button-primary-active-fill: hsl(from #ca9ee6 h s calc(l - 8));
  --button-primary-text: #303446;

  /* Buttons – secondary */
  --button-secondary-fill: #414559;
  --button-secondary-text: #c6d0f5;
  --button-secondary-active-fill: #51576d;

  /* Buttons – danger */
  --button-danger-fill: #e78284;
  --button-danger-active-fill: hsl(from #e78284 h s calc(l - 15));
  --button-danger-text: #303446;
  --button-danger-outline-text: #e78284;
  --button-danger-outline-border: #e78284;
  --button-danger-outline-active-fill: #2d1f24;
  --button-danger-outline-active-border: hsl(
    from #e78284 h s calc(l - 15)
  );

  /* Buttons – misc */
  --button-inverted-fill: #c6d0f5;
  --button-inverted-text: #303446;
  --button-ghost-text: #ca9ee6;
  --button-outline-border: #ca9ee6;
  --button-outline-text: #ca9ee6;
  --button-outline-active-fill: transparent;
  --button-outline-active-border: hsl(from #ca9ee6 h s calc(l - 8));
}

:root{[class*="DMList.module__clickableItem"] [class*=clickableItemIcon]{color:var(--brand-primary-fill)}[class*="DMList.module__clickableItemSelected"] [class*=clickableItemIcon]{background-color:var(--button-primary-text);border:1px solid var(--button-primary-fill);color:var(--button-primary-fill)}[class*="GuildsLayout.module__guildListItem"]{>div>[class*="GuildsLayout.module__fluxerButtonIcon"]{color:var(--button-primary-text);transition:color .2s,background-color .2s,border-color .2s}&:hover>div>[class*="GuildsLayout.module__fluxerButtonIcon"]{background-color:var(--button-primary-text);border:1px solid var(--button-primary-fill);color:var(--button-primary-fill)}}:is([class*="SettingsModalLayout.module__desktopScrollInner"],[class*="MobileSettingsView.module__contentContainer"],[class*="PremiumModal.module__contentContainer"]){[class*=mainContainer]{[class*=toggleContainer]{& button[class*=button]{&[aria-pressed=true]{color:var(--brand-primary-fill);&:hover{background-color:hsl(from var(--brand-primary) h s calc(l - 10))}}&[aria-pressed=false]{color:var(--text-primary)}}}[class*=gridWrapper]{[class*=popularBadgeSpace]>[class*=popularBadge]{background-color:var(--brand-primary-fill);border:1px solid var(--brand-primary)}[class*=cardDefault]{border-color:var(--brand-primary);[class*=contentContainer]>*{color:var(--brand-primary)}}[class*=cardPopular]{:is([class*=cardTitlePopular],[class*=cardPeriodPopular],[class*=cardPricePopular]){color:var(--brand-primary-fill)}[class*=badgeSpace]{background-color:var(--brand-primary);border-color:var(--brand-primary-fill);color:var(--brand-primary-fill)}& button[class*=button][aria-label=Yearly]{background-color:var(--brand-primary-fill);color:var(--brand-primary);&:hover{background-color:hsl(from var(--brand-primary-fill) h s calc(l + 10))}}}}[class*="FeatureComparisonTable.module__table"]{&,[class*=header],[class*=row]{border-color:var(--border-color)}}}}[class*="PlutoniumUpsell.module__upsell"]{& [class*=text],& svg{color:var(--background-primary)}& button{background-color:var(--button-primary-fill);border:1px solid var(--button-primary-text);color:var(--button-primary-text);&:hover{background-color:var(--button-primary-active-fill)}}}[class*="PremiumTrialBanner.module__banner"]{color:var(--background-primary);[class*="Button.module__button"]{background-color:var(--button-primary-fill);border:1px solid var(--button-primary-text);color:var(--button-primary-text);&:hover{background-color:var(--button-primary-active-fill)}}}[class*="DMList.module__mobileSpecialButtonIcon"],[class*="YouPage.module__editButton"] *{color:var(--brand-primary-fill)}[class*="DMList.module__mobilePersonalNotesButtonSelected"] [class*="DMList.module__mobileSpecialButtonIcon"]{background-color:var(--button-primary-text);border:1px solid var(--button-primary-fill);color:var(--button-primary-fill)}[class*="DMList.module__mobileAddFriendButton"],[class*="DMList.module__mobileFab"] *,[class*="DMList.module__mobileHeaderButton"],[class*="FavoritesWelcomeSection.module__iconWrapper"],[class*="MobileTextareaLayout.module__mobileSendButton"],[class*="UserProfileMobileSheet.module__actionIconContainer"] svg:not([class*="UserProfileMobileSheet.module__actionIconSecondary"]){color:var(--brand-primary-fill)}[class*="ContextMenu.module__checkbox"]{border-color:var(--brand-primary);:after{border-color:var(--brand-primary-fill)}}[class*="RadioGroup.module__innerDotRadio"]{fill:var(--brand-primary-fill)}[class*="Switch.module__switchThumb"][data-state=checked]{& svg{fill:var(--brand-primary-fill)}}[class*="GifIndicator.module__indicator"]{color:var(--text-primary)}[class*="Messages.module__newMessagesBar"]{color:var(--brand-primary-fill)}[class*="MessageReactions.module__reactionButton"][aria-pressed=true] [class*=countWrapper]{color:var(--brand-primary)}:is([class*="UserProfileShared.module__connectionIcon"],[class*="LinkedAccountsTab.module__platformIconButton"]){background-color:color-mix(in srgb,var(--brand-primary) 20%,transparent);border:1px solid var(--brand-primary);svg{color:var(--brand-primary);fill:var(--brand-primary)}}[class*="ThemeTab.module__themeButtonCheckmarkIcon"]{color:var(--brand-primary-fill)}[class*="DevicesTab.module__authSession"]{border-color:var(--border-color)}[class*="ProfileTypeSelector.module__guildOption"]{color:var(--brand-primary)}:has(>[class*="ProfileTypeSelector.module__guildOption"])[aria-selected=true]{background-color:color-mix(in srgb,var(--brand-primary) 10%,transparent);color:var(--brand-primary-fill)}[class*=friendActions]>[class*=actionButtonCancel]{color:var(--brand-primary-fill)}}