---
whiskers:
  version: "^2.5.1"
  matrix:
    - flavor
    - accent
  filename: "themes/{{ flavor.identifier }}/{{ accent }}.css"
  hex_format: "#{{r}}{{g}}{{b}}"
---

:root
{
  /* Status */
    --status-online: {{ green.hex }};
    --status-idle: {{ yellow.hex }};
    --status-dnd: {{ maroon.hex }};
    --status-offline: {{ overlay0.hex }};
    --status-danger: {{ red.hex }};

  /* Backgrounds */
  --background-primary: {{ base.hex }};
  --background-secondary: {{ mantle.hex }};
  --background-secondary-alt: {{ crust.hex }};
  --background-secondary-lighter: hsl(
    from {{ mantle.hex }} h s calc(l + 5)
  ); 
  
  /* Main content bg */
  --background-tertiary: {{ surface0.hex }};
  --background-textarea: {{ surface0.hex }};
  --background-header-primary: {{ mantle.hex }};
  --background-header-primary-hover: {{ surface0.hex }};
  --background-header-secondary: {{ crust.hex }};

  /* Background modifiers */
  --background-modifier-hover: {{ surface0.hex }};
  --background-modifier-selected: {{ surface1.hex }};
  --background-modifier-accent: {{ surface2.hex }};
  --background-modifier-accent-focus: {{ surface1.hex }};

  /* Brand */
  --brand-primary: {{ flavor.colors[accent].hex }};
  --brand-primary-light: hsl(from {{ flavor.colors[accent].hex }} h s calc(l + 8));
  --brand-primary-fill: {{ base.hex }};
  --brand-secondary: hsl(from {{ flavor.colors[accent].hex }} h s calc(l - 10));

  /* Text */
  --text-primary: {{ text.hex }};
  --text-secondary: {{ subtext1.hex }};
  --text-primary-muted: {{ subtext0.hex }};
  --text-tertiary: {{ overlay2.hex }};
  --text-tertiary-muted: {{ overlay1.hex }};
  --text-tertiary-secondary: {{ overlay2.hex }};
  --text-chat: {{ text.hex }};
  --text-chat-muted: {{ subtext0.hex }};
  --text-on-brand-primary: {{ base.hex }};
  --text-link: {{ blue.hex }};

  /* Borders */
  --border-color: {{ surface1.hex }};
  --border-color-hover: {{ surface2.hex }};
  --border-color-focus: {{ flavor.colors[accent].hex }};

  /* Misc */
  --accent-purple: {{ flavor.colors[accent].hex }};
  --bg-code: {{ mantle.hex }};
  --guild-list-foreground: {{ flavor.colors[accent].hex }};

  /* Alerts */
  --alert-note-color: {{ blue.hex }};
  --alert-important-color: {{ flavor.colors[accent].hex }};
  --alert-tip-color: {{ blue.hex }};
  --alert-warning-color: {{ yellow.hex }};
  --alert-caution-color: {{ red.hex }};

  /* Markup */
  --markup-mention-fill: {{ surface1.hex }};
  --markup-interactive-hover-fill: {{ surface2.hex }};

  /* Buttons – primary */
  --button-primary-fill:{{ flavor.colors[accent].hex }};
  --button-primary-active-fill: hsl(from {{ flavor.colors[accent].hex }} h s calc(l - 8));
  --button-primary-text: {{ base.hex }};

  /* Buttons – secondary */
  --button-secondary-fill: {{ surface0.hex }};
  --button-secondary-text: {{ text.hex }};
  --button-secondary-active-fill: {{ surface1.hex }};

  /* Buttons – danger */
  --button-danger-fill: {{ red.hex }};
  --button-danger-active-fill: hsl(from {{ red.hex }} h s calc(l - 15));
  --button-danger-text: {{ base.hex }};
  --button-danger-outline-text: {{ red.hex }};
  --button-danger-outline-border: {{ red.hex }};
  --button-danger-outline-active-fill: #2d1f24;
  --button-danger-outline-active-border: hsl(
    from {{ red.hex }} h s calc(l - 15)
  );

  /* Buttons – misc */
  --button-inverted-fill: {{ text.hex }};
  --button-inverted-text: {{ base.hex }};
  --button-ghost-text: {{ flavor.colors[accent].hex }};
  --button-outline-border: {{ flavor.colors[accent].hex }};
  --button-outline-text: {{ flavor.colors[accent].hex }};
  --button-outline-active-fill: transparent;
  --button-outline-active-border: hsl(from {{ flavor.colors[accent].hex }} h s calc(l - 8));
}

{{ read_file(path="src/out.css") }}